.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
}

.filter-block div {
    width: fit-content;
}
